{% extends 'base.html' %}
{% block content %}

<div class="card">
  <div class="card-content">
    <span class="card-title" id="detail-h1"><b>{{ event.event_name }}</b></span>
  </div>

  <!-- Insert photo markup below this comment -->
  {% for photo in event.photo_set.all %}
  <img class="responsive-img card-panel" src="{{photo.url}}">
  {% empty %}
  <div class="card-panel teal-text center-align">No Photos Uploaded</div>
  {% endfor %}

  {% if user == event.user %}
  <form action="{% url 'add_photo' event.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
    {% csrf_token %}
    <input type="file" name="photo-file">
    <br><br>
    <input type="submit" class="btn" value="Upload Photo">
    {% endif %}
  </form>

  <h5>Event Host: {{ event.user }}</h5>
  <br>
  <hr>
  <h5>Event Description: <br><br> {{ event.description }}</h5>
  <br>

  <hr>

  <div class="row">
    <div class="col s6">

      <h5>Date: {{ event.date }}</h5>
      <h5>Time: {{ event.hours_of_op }}</h5>


    </div>
    <div class="col s6">

      <h5>Covid Protocol: {{ event.covid_protocol }}</h5>
      <h5>Age Rating: {{ event.age_rating }}</h5>
    </div>
    <h5>Price: {{ event.admission_fee }}</h5>
    <h5>Full Address: {{ event.address }}</h5>
  </div>
  <div id="map-container" class="row center-align">
    <div id="map">No Map Available</div>
  </div>
  <div class="row center-align">
    <div class="col s6 offset-m3 offset-14">
      {% if event.rating_set.all %}
      <h5><i class="small material-icons">star</i><br> {{ rating_avg|floatformat }}</h5>
      
      {% else %}
      <div class="card-panel teal-text center-align">No Ratings</div>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col s9">
      <form action="{% url 'add_comment' event.id %}" method="POST">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <input type="submit" class="btn" value="Add Comment">
      </form>
    </div>

    <div class="col s3">
      <form action="{% url 'add_rating' event.id %}" method="POST">
        {% csrf_token %}
        {{ rating_form.as_p }}
        <input type="submit" class="btn" value="Add Rating">
      </form>
    </div>
  </div>

  <div>
    {% if event.comment_set.all %}
    <table class="striped">
      <thead>
        <tr>
          <th><i class="small material-icons">comment</i></th>
          <th><i class="small material-icons">date_range</i></th>
          <th><i class="small material-icons">account_circle</i></th>
        </tr>
      </thead>

      <tbody>
        {% for comment in event.comment_set.all %}
        <tr>
          <td>{{ comment.comment }}</td>
          <td>{{comment.date}}</td>
          <td>{{comment.user}}</td>
          {% if user == comment.user %}
          <td><a href="{% url 'update_comment' comment.id %}"><i class="small material-icons">update</i></a></td>
          <td><a href="{% url 'delete_comment' comment.id %}"><i class="small material-icons">delete_forever</i></a>
          {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
      {% else %}
      <div class="card-panel teal-text center-align">No Comments Yet</div>
      {% endif %}
    </table>
  </div>
</div>

<div class="card-action">
  {% if user == event.user %}
  <a href="{% url 'events_update' event.id %}">Edit Event</a> |
  <a href="{% url 'events_delete' event.id %}">Delete Event</a>
  {% endif %}
</div>

</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoz9sSl_Av4723CPHLHkhGLZO1aT8f81I">
</script>

<script>
  const selectEl = document.getElementById("id_rating");
  M.FormSelect.init(selectEl);

  const address = "{{ event.address }}";
  const geoUrl = `https://maps.googleapis.com/maps/api/geocode/json?address=${address}&key={{ api_key }}`;
  let geoResults, validAddress;
  fetch(geoUrl).then(res => res.json())
    .then(data => {
      validAddress = data.status === "OK";
      if (validAddress) geoResults = data.results[0];
      console.log(geoResults, validAddress)
    })
    .then(() => {
      if (validAddress) {
        let location = geoResults.geometry.location;
        let map;
        map = new google.maps.Map(
          document.getElementById("map"),
          {
            center: location,
              zoom: 12,
          }
        );
        const marker = new google.maps.Marker({
          position: location,
          map: map,
        });
      }
    })
</script>

{% endblock %}