{% extends 'base.html' %}

{% block content %}

<h1>Event Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ event.event_name }}</span>
    <p>Host: {{ event.user }}</p>
    <p>Location: {{ event.location }}</p>
    <p>Rating: {{ event.rating }}</p>
    <div class="col s6">
      <table class="striped">
        <thead>
          <tr><th>Comment</th><th>Date</th><th>User</th></tr>
        </thead>
        <tbody>
          {% for comment in event.comment_set.all %}
            <tr>
              <td>{{ comment.comment }}</td>
              <td>{{comment.date}}</td>
              <td>{{comment.user}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-action">
    <a href="{% url 'events_update' event.id %}">Edit</a>
    <a href="{% url 'events_delete' event.id %}">Delete</a>
  </div>

</div>

{% endblock %}