{% extends 'base.html' %}

{% block content %}

<h1>Event Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ event.event_name }}</span>
    <p>Host: {{ event.user }}</p>
    <p>Location: {{ event.location }}</p>
    <p>Rating: {{ rating_avg }}</p>
      <form id="rating_form" action="{% url 'add_rating' event.id %}" method="POST">
        {% csrf_token %}
        {{ feeding_form.as_p }}
        <input type="submit" class="btn" value="Add Rating">
      </form>
      <br>
      {% if event.rating %}
      <p>Rating: {{ rating_avg }}</p>
    {% else %}
      <div class="card-panel teal-text center-align">No Rating</div>
    {% endif %}
    <div class="col s6">
      <table class="striped">
        <thead>
          <tr><th>Comment</th><th>Date</th><th>User</th></tr>
        </thead>
        <tbody>
          {% for comment in event.comment_set.all %}
            <tr>
              <td>{{ comment.comment }}</td>
              <td>{{comment.date}}</td>
              <td>{{comment.user}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-action">
    <a href="{% url 'events_update' event.id %}">Edit</a>
    <a href="{% url 'events_delete' event.id %}">Delete</a>
  </div>

</div>

<script>
  const selectEl = document.getElementById("rating_form");
  M.FormSelect.init(selectEl);
</script>

{% endblock %}