{% extends 'base.html' %}

{% block content %}

<h1>Event List</h1>

{% for event in events %}
  <div class="card" style="
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  ">
    <a href="{% url 'detail' event.id %}">
      <div class="card-content" >
        <span class="card-title">{{ event.event_name }}</span>
        <p>Host: {{ event.user }}</p>
        <p>Address: {{ event.address }}</p>
        <p><i class="tiny material-icons">star</i> {{ event.rating_avg|floatformat }} </p>
        
        <img class="responsive-img card-panel" src="{{event.photo_set.first.url}}" width= "75%">
        
      </div>
    </a>
  </div>
</section>

{% endfor %}

{% endblock %}