{% extends 'base.html' %}

{% block content %}

{% if searched %}
<h2>
    You searched for {{ searched }} 
</h2>

{% for event in events %}
<div class="card">
    <a href="{% url 'detail' event.id %}">
      <div class="card-content">
        <span class="card-title">{{ event.event_name }}</span>
        <p>Host: {{ event.user }}</p>
        <p>Address: {{ event.address }}</p>
        <p><i class="tiny material-icons">star</i> {{ event.rating_avg|floatformat }} </p>
        
        <img class="responsive-img card-panel" src="{{event.photo_set.first.url}}" width= "50%">
        
      </div>
    </a>
  </div>

{% empty %}

<h2>No events found</h2>

{% endfor %}

{% else %}
<h1 class="alert alert-danger">
    <strong>Error!</strong> You have not searched for any term
</h1>

{% endif %}

{% endblock %}