{% extends 'base.html' %} {% block content %} {% load gravatar %}

<h2>{{ user.username }}'s Profile Page</h2>
<hr />

{% if user.email %}
<div class="col s3">
  <div class="avatar">{% gravatar user.email 150 %}</div>

{% comment %} detailed profile information {% endcomment %}
  <details>
    <summary>
      <b
        >{{ user.username }}'s Profile
        <i class="material-icons">info_outline</i>
        More Info</b
      >
    </summary>
    <div class="card-panel grey lighten-3">
      <p><b>Name:</b> {{ user.username }}</p>
      <p><b>Email:</b> {{ user.email }}</p>
      <p><i>profile picture powered by Gravatar</i></p>
    </div>
  </details>
  {% else %}

  <h2>{{ user.username }}</h2>
  <p>No email provided</p>
  <p>
    if you want a profile picture, please add an email address to your profile
  </p>

  {% endif %} {% for event in events %}

  <div class="card center-align">
    <a href="{% url 'detail' event.id %}">
      <div class="card-content center-align">
        <span class="card-title">{{ event.event_name }}</span>
        <p>Host: {{ event.user }}</p>
        <p>Address: {{ event.address }}</p>
        <p>Rating: {{ event.rating_avg|floatformat }} Stars</p>

        <img
          class="responsive-img card-panel"
          src="{{event.photo_set.first.url}}"
          width="75%"
        />
      </div>
    </a>
  </div>

  {% empty %}
  <div class="card-panel teal-text center-align">
    You haven't create any Events yet!
  </div>
  {% endfor %} {% endblock %}
</div>
