{% extends 'base.html' %}

{% block content %}
    <h1>Meet the Team</h1>
    <h1>Scrumdog Millionaires</h1>
    <hr />

    <h2>Jeremy</h2>
    <p>The Scrum Apprentice</p>
    <img src="https://c4.wallpaperflare.com/wallpaper/626/180/1004/mr-robot-hackerman-hacking-rami-malek-wallpaper-thumb.jpg">
    <ul>
        <li>Back-Door Developer</li>
        <li>Provider of beats</li>
        <li>Assistant to the Regional Manager</li>
    </ul>    
    <h2>Andy</h2>
    <p>Master of Beef</p>
    <img src="https://media.giphy.com/media/3knKct3fGqxhK/giphy.gif">
    <ul>
        <li></li>
        <li></li>
        <li>Seafood king</li>
    </ul> 
    <h2>Chris</h2>
    <p>The Scrum Lord</p>
    <img src="https://pbs.twimg.com/media/DtPYvMvWoAARgCA.jpg">
    <ul>
        <li>Possibly blind</li>
        <li>Freelance Memelord</li>
        <li>Never learned how to real or spell</li>
    </ul> 


{% endblock %}