{% extends 'base.html' %} {% block content %}

<style>

a {
    color: #01334d;
    text-decoration: none;
}

</style>

<h1><b>Scrumdog Millionaires</b></h1>

<h2> <a href="https://github.com/jhotz2112">Jeremy</a></h2>
<h3>The Scrum Apprentice</h3>
<img
  src="https://c4.wallpaperflare.com/wallpaper/626/180/1004/mr-robot-hackerman-hacking-rami-malek-wallpaper-thumb.jpg"
/>
<ul>
  <li>Back-Door Developer / Provider of beats / Assistant to the Regional Manager</li>
</ul>
<h2> <a href="https://github.com/sunsetdee">Andy</a></h2>
<h3>Master of Beef</h3>
<img src="https://media.giphy.com/media/3knKct3fGqxhK/giphy.gif" />
<ul>
  <li>Youngest Member / Seafood king</li>
</ul>
<h2> <a href="https://github.com/sunsetdee">Chris Burwell</a></h2>
<h3>The Scrum Lord</h3>
<img src="https://pbs.twimg.com/media/DtPYvMvWoAARgCA.jpg" width="100%" />
<ul>
  <li>The Scrum Master / Freelance Memelord</li>
</ul>

{% endblock %}
