{% extends 'base.html' %}

{% block content %}

<section id="LandingPage">
<p>Welcome to the landing page!</p>

<h2>About our App</h2>
<p>This is the about page of the app. It is a good place to describe the app and what it does.</p>


<h2>Great Features!</h2>
<ul>
    <li>First feature</li>
    <li>Second feature</li>
    <li>Third feature</li>
</ul>
</section>

<section id="FeaturedEvents">
    <h2>Featured Events</h2>
    
    <div> <img src="https://assets.simpleviewinc.com/simpleview/image/upload/c_limit,h_1200,q_75,w_1200/v1/clients/irving-redesign/Events_Page_Header_2903ed9c-40c1-4f6c-9a69-70bb8415295b.jpg" width="500vm"> </div>
    <div> <img src="https://assets.simpleviewinc.com/simpleview/image/upload/c_limit,h_1200,q_75,w_1200/v1/clients/irving-redesign/Events_Page_Header_2903ed9c-40c1-4f6c-9a69-70bb8415295b.jpg" width="500vm"> </div>
    <div> <img src="https://assets.simpleviewinc.com/simpleview/image/upload/c_limit,h_1200,q_75,w_1200/v1/clients/irving-redesign/Events_Page_Header_2903ed9c-40c1-4f6c-9a69-70bb8415295b.jpg" width="500vm"> </div>

</section>


{% endblock %}