{% extends 'base.html' %}

{% block content %}

<h1><b>Where's The Party App?!</b></h1>


 <div class="row">
    <div class="col s6">
    <h2><u>Great Features!</u></h2>
        
        <i class="large material-icons">camera_alt</i>
        <p>Photo Uploads</p>
        <i class="large material-icons">forum</i>
        <p>Comments</p>
        <i class="large material-icons">gps_fixed</i>
        <p>Location based data</p>
    </div>
    <div class="col s6">
    <h2><u>About</u></h2>
        <p>Wanted to know what's poppin' in your area but have felt out of the loop? Nevermore, with <b>Where's the Party App!</b> You'll never not know where the party's at! We've built this app to help you find the party in your area, and we're always open to suggestions and improvements!</p
        
        <p> Created with a django framework and materialize CSS, this responsive website is your one stop shop to know what's going on in your area</p>

        <p>Want to get started? Just click the <i>View All Events</i> button in the NavBar and see what's happening! Want to host your own event? <i>Click Add an Event</i></p>

        <p>We hope you enjoy our site, and if you have any suggestions or feedback, feel free to contact us on our <a href="https://github.com/countchrisdo/wheresthepartyapp">GitHub</a> Page</p>
    </div>
</div>


<section id="featured-section">
<h1 id="featured-events-title"><u>Featured Events</u> </h1>


<div class="carousel carousel-slider light-blue lighten-5">
    
{% for event in events|slice:"0:3" %}
        <a class="carousel-item" href="{% url 'detail' event.id %}">
            <div class="card">
                <div class="card-image">
                    <img class="" src="{{event.photo_set.first.url}}">
                </div>
                
                <br>
                <div class="card-content">
                <h4>{{ event.event_name }}<h4>
                </div>
            </div>
        </a>
{% endfor %}
</div>
<br>
<br>
<br>

</section>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elements = document.querySelector('.carousel');
        var instances = M.Carousel.init(elements, {});
    })
</script>

{% endblock %}