body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
  }

  #map {
    height: 25vh;
  }

  main {
    flex: 1 0 auto;
  }

  td {
    font-size: large;
}
  
  footer.page-footer {
    margin-top: 10px;
    padding-top: 0px;
    text-align: right;
  }

