body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
}

main {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* position hard coded for chrome */
#search-bar {
  position: fixed;
  top: 1%;
  left: 25%;
  width: 25%;
  height: 40px;
  background-color: rgba(255, 255, 255, 0);
}

.nav-icons {
  position: fixed;
  bottom: 93.5%;
  left: 25%;
}

.carousel .carousel-item {
  width: 340px !important;
  padding: 10px;
}

#detail-h1 {
  font-size: 4.5em;
  font-weight: bold;
  padding: 10px;
  line-height: 50px !important;
}

#event-submit {
  margin-top: 2vh;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #67afdb);
  background-image: -moz-linear-gradient(top, #3498db, #67afdb);
  background-image: -ms-linear-gradient(top, #3498db, #67afdb);
  background-image: -o-linear-gradient(top, #3498db, #67afdb);
  background-image: linear-gradient(to bottom, #3498db, #67afdb);
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: Arial;
  color: #1c1c1c;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  align-items: center;
}

#event-submit:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.card {
  border-radius: 8px;
  position: relative !important;
}

#map {
  height: 30vh;
}

#map-container {
  margin: 0 5vmin;
}

main {
  flex: 1 0 auto;
}

td {
  font-size: large;
}

.footerlink {
  color: white;
}

footer.page-footer {
  margin-top: 10px;
  padding-top: 0px;
  text-align: right;
}
